# Ignore everything
*

# But not these files...
!.gitignore
!modules/**
!themes/**
# etc...
themes/PanamTheme/_dev/package-lock.json
themes/PanamTheme/_dev/node_modules/**
modules/**/css/**

# ...even if they are in subdirectories
!*/